/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    /* overflow: hidden; */
	font-family: 'Arial', sans-serif;

}


@font-face {
    font-family: 'NeonTubes2';
    src: url('fonts/NeonTubes2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TiltNeon-Regular';
    src: url('fonts/TiltNeon-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h1 {
	font-size: 83px;
    font-family: 'TiltNeon-Regular';
	margin-bottom: 10px;
    line-height: 1.3;
    color: rgb(151, 29, 199);
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, -1px -4px 6px rgb(204, 0, 255), 1px 4px 4px rgb(97, 0, 255), 10px 10px 50px rgba(97, 0, 255, 0.2), -10px -10px 50px rgba(97, 0, 255, 0.2);
    margin-bottom: 20px;
    max-width: 1000px;
    text-transform: uppercase;
}

h2,
.h2 {
	font-size: 59px;
    line-height: 75px;
}

p {
    font-size: 24px;
    line-height: 1.5;
    color: #291717;
    font-weight: 500;
}

.text-small {
    font-size: 20px;
    margin-bottom: 0;
}

strong {
	font-weight: 700;
}

.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

main {
    height: 100vh;
    position: relative;
    background-image: url(images/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding: 120px 20px 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main:before {
    position: absolute;
    content:"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.main-wrapper {
    width: 100%;
    max-width: 1250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-image: url(images/outline.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    position: relative;

}

.quote-img {
    position: absolute;
    left: 65%;
    top: -10%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-0 {
    margin-bottom: 0px;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

section {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    padding-bottom: 60px;
}

.btn {
    background: rgba(160, 42, 243, 0.2);
    outline: 1px solid rgba(228, 214, 214, 0.8784313725);
    border: 1px solid rgb(200, 130, 255);
    filter: brightness(90%);
    box-shadow: 0 0 0 0.03vw #7a05bd, 0 0 0 0.08vw white, 0 0 0 0.11vw #7a05bd, 0 0 0.8vw rgba(160, 42, 243, 0.8) inset, 0 0 0.8vw rgba(160, 42, 243, 0.8) inset, 0 0vw 1.5vw rgba(160, 42, 243, 0.8), 0 0.2vw 1.5vw rgba(160, 42, 243, 0.8);
    padding: 0 50px;
    /* min-width: 225px; */
    height: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'TiltNeon-Regular';
    font-size: 22px;
    flex: 1;
    max-width: 250px;
    min-width: 200px;
}

p {
    font-family: 'TiltNeon-Regular';
    color: #fff;
    max-width: 710px;
    text-align: center;
    margin: 0 auto 20px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px 15px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 630px;
    margin: 0 auto 30px;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
}

.checkbox label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkbox .circle-check {
    width:32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.checkbox .circle-check svg {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
}

.checkbox input:checked + label svg {
    visibility: visible;
    opacity: 1;
}

.btn-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;

}

@media(max-width: 1250px) {
    h1 {
        font-size: 50px;
    }

    p {
        font-size: 18px;
    }
}

@media(max-width: 991px) {

    h1 {
        width: 100%;
    }

    .checkbox-wrapper {
        justify-content: center;
    }

    .btn-wrapper {
        justify-content: center;
    }

    .quote-img {
        left: 68%;
        top: -4%;
        width: 10vw;
        min-width: 70px;
    }

    section {
        padding: 0 30px 60px;
    }
}

@media(max-width: 768px) {

    main {
        padding: 20px;
        min-height: 100vh;
        height: auto;
    }

    .main-wrapper {
        background-image: none;
    }

    section {
        padding: 0 ;
    }
    
    h1 {
        font-size: 40px;
    }

    h2,.h2 {
        font-size: 40px;
        line-height: 1.2;
    }

    .quote-img {
        display: none;
    }

    .checkbox-wrapper {
        gap: 10px;
    }

    .btn {
        height: 60px;
        min-width: 200px;
    }

    html,body {
        overflow: auto;
    }
}




