/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 20px;
}

strong {
	font-weight: 700;
}


.hero {
	height: 100vh;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-image: url("../images/background.jpg");
	position: relative;
}


.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

.popup.active {
	display: block;
}

.popup__overlay {
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	position: relative;
}

.popup__content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 600px;
	background-color: #fff;
	padding: 30px;
	border-radius: 20px;
	text-align: center;
}

.popup__content p {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	margin-bottom: 20px;
}

.popup__content .btn {
	height: 50px;
	padding: 0 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(184, 148, 80);
	color: #fff;
	width: 100%;
	max-width: 250px;
	min-width: 250px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	transition: all .3s ease;
}

.popup__content .btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;

}	

.popup__content .btn:hover {
	background-color: rgba(184, 148, 80, .9);

}

.map-pin {
	position: absolute;
	background-color: #fff;
	width: 200px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 6px 4px rgba(0,0,0,.4);
	visibility: hidden;
	opacity: 0;
}

.map-pin:before {
	position: absolute;
	content: "";
	left: 50%;
	top: 100%;
	transform: translate(-50%, 0);
	width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 14px solid #fff;
}

.map-pin:after {
	position: absolute;
	content: "";
	left: 50%;
	top: 100%;
	transform: translate(-50%, 20px);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #f03b6e;
}

.map-pin .img-wrapper {
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

.map-pin p {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	margin-bottom: 20px;
}

.map-pin .btn {
	height: 40px;
	padding: 0 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(184, 148, 80);
	color: #fff;
	width: 100%;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	transition: all .3s ease;
	text-align: center;
}

.map-pin .btn:hover {
	background-color: rgba(184, 148, 80, .9);
}

.map-pin.active {
	visibility: visible;
	opacity: 1;
}


.map-pin-1 {
	left: 10%;
	top: 10%;
	transition: all 1s ease-in-out .2s;
}

.map-pin-2 {
	right: 20%;
	top: 20%;
	transition: all 1s ease-in-out .8s;

}

.map-pin-3 {
	right: 30%;
	bottom: 20%;
	transition: all 1s ease-in-out 1.4s;

}

.map-pin-4 {
	left: 40%;
	bottom: 40%;
	transition: all 1s ease-in-out .2s;

}

.map-pin-5 {
	left: 5%;
	bottom: 15%;
	transition: all 1s ease-in-out .8s;

}

.map-pin-6 {
	left: 30%;
	bottom: 10%;
	transition: all .6s ease-in-out 1.4s;

}

.loader-wrapper {
	 width: 100%;
	 height: 100%;
	 position: relative;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin-bottom: 20px;
}
 .circle {
	 width: 16px;
	 height: 16px;
	 border-radius: 50%;
	 margin: 7px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .circle:before {
	 content: "";
	 width: 16px;
	 height: 16px;
	 border-radius: 50%;
	 opacity: 0.7;
	 animation: scale 1.8s infinite cubic-bezier(0, 0, 0.49, 1.02);
}
 .circle-1 {
	 background-color: #bfa46a;
}
 .circle-1:before {
	 background-color: #bfa46a;
	 animation-delay: 200ms;
}
 .circle-2 {
	 background-color: #8f7b50;
}
 .circle-2:before {
	 background-color: #8f7b50;
	 animation-delay: 400ms;
}
 .circle-3 {
	 background-color: #605235;
}
 .circle-3:before {
	 background-color: #605235;
	 animation-delay: 600ms;
}
 .circle-4 {
	 background-color: #30291b;
}
 .circle-4:before {
	 background-color: #30291b;
	 animation-delay: 800ms;
}
 .circle-5 {
	 background-color: #000;
}
 .circle-5:before {
	 background-color: #000;
	 animation-delay: 1000ms;
}


@keyframes scale {
	 0% {
		 transform: scale(1);
	}
	 50%, 75% {
		 transform: scale(2.5);
	}
	 78%, 100% {
		 opacity: 0;
	}
}

.confirm-box .confirm {
	margin-bottom: 20px;
}

.confirm-box p {
	font-size: 20px;
	margin-bottom: 0;
}

@media(max-width: 1200px) {
	.map-pin-1 {
		left: 10%;
		top: 10%;
	}

	.map-pin-2 {
		right: 10%;
		top: 10%;

	}

	.map-pin-3 {
		right: 25%;
		bottom: 10%;
	}

	.map-pin-4 {
		left: 30%;
		bottom: 30%;

	}

	.map-pin-5 {
		left: 5%;
		bottom: 10%;

	}

	.map-pin-6 {
		left: 20%;
		bottom: 5%;
		d

	}
}

@media(max-width: 991px) {
	.map-pin-4 {
		display: none;
	}

	.map-pin-2 {
		right: 5%;
		top: 5%;

	}

	.map-pin-3 {
		right: 15%;
		bottom: 5%;
	}

	.map-pin {
		width: 150px;
		padding: 5px;
		border-radius: 5px;
	}

	.map-pin .img-wrapper {
		border-radius: 5px;
		margin-bottom: 10px;
	}

	.map-pin p {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.map-pin .btn {
		height: 30px;
		text-decoration: none;
		font-size: 14px;
		border-radius: 5px;
	}
}


@media(max-width: 768px) {
	.map-pin {
		width: 100px;
	}

	.map-pin p {
		font-size: 12px;
	}

	.map-pin p img {
		display: none;
	}

	.popup__content {
		width: calc(100% - 10px);
		max-width: 600px;
		background-color: #fff;
		padding: 40px 10px;
		border-radius: 10px;
		text-align: center;
	}

	.popup__content p {
		font-size: 18px;
	}

	.popup__content .btn {
		height: 30px;
		font-size: 14px;
		min-width: 150px;
		max-width: 150px;
	}

	.popup__content .btn-wrapper {
		gap: 10px;
	}	

	.confirm-box p {
		font-size: 18px;
	}
}