* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    cursor: pointer !important
}

ul li {
    list-style: none
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%
}

img {
    border: 0;
    vertical-align: middle;
    width: 100%
}

body {
    background: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;
    color: #fff;
    min-width: 320px
}

html,
body {
    height: 100%
}

ol,
ul {
    list-style: none
}

a {
    color: #fff;
    text-decoration: none
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    height: 100%
}

.center {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    flex: 1;
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    padding: 10px
}

.photo-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    height: 130vw;
    max-height: 650px;
    margin-bottom: 3.4rem;
    background: #c4c4c4 no-repeat center top;
    background-size: cover;
    border-radius: 3.6rem;
    z-index: 1;
    transition: background-image .4s ease-out
}

.slider-block {
    position: relative;
    margin: 10px;
    overflow: hidden
}

.slider-block-inner {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    width: 120%;
    transition: transform .4s ease-out
}

[data-photo="1"] .slider-block-inner {
    transform: translateX(33%)
}

[data-photo="2"] .slider-block-inner {
    transform: translateX(17%)
}

[data-photo="3"] .slider-block-inner {
    transform: translateX(0)
}

[data-photo="4"] .slider-block-inner {
    transform: translateX(-17%)
}

[data-photo="5"] .slider-block-inner {
    transform: translateX(-33%)
}

[data-photo="6"] .slider-block-inner {
    transform: translateX(-50%)
}

.slider-item {
    position: relative;
    padding-top: 16.66%;
    width: 20%
}

.slider-icon {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    background-color: rgba(244, 238, 237, .5);
    border: 2px solid #fff;
    border-radius: 50%;
    transform: scale(.8, .8);
    transition: transform .4s ease-out
}

[data-photo="1"] .slider-item:nth-child(1) .slider-icon {
    transform: scale(1, 1)
}

[data-photo="2"] .slider-item:nth-child(2) .slider-icon {
    transform: scale(1, 1)
}

[data-photo="3"] .slider-item:nth-child(3) .slider-icon {
    transform: scale(1, 1)
}

[data-photo="4"] .slider-item:nth-child(4) .slider-icon {
    transform: scale(1, 1)
}

[data-photo="5"] .slider-item:nth-child(5) .slider-icon {
    transform: scale(1, 1)
}

[data-photo="6"] .slider-item:nth-child(6) .slider-icon {
    transform: scale(1, 1)
}

.slider-icon:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid transparent;
    border-radius: 50%;
    background: no-repeat center center;
    background-size: auto 66%;
    transition: all .4s ease-out
}

[data-photo="1"] .slider-item:nth-child(1) .slider-icon:before,
[data-photo="2"] .slider-item:nth-child(2) .slider-icon:before,
[data-photo="3"] .slider-item:nth-child(3) .slider-icon:before,
[data-photo="4"] .slider-item:nth-child(4) .slider-icon:before,
[data-photo="5"] .slider-item:nth-child(5) .slider-icon:before,
[data-photo="6"] .slider-item:nth-child(6) .slider-icon:before {
    background-color: #f4eeed;
    border-color: #6c6e63;
    box-shadow: inset 0 0 2px 2px #fff
}

.step-block {
    display: flex;
    flex: 1;
    position: relative
}

.step-item {
    display: none;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    flex: 1
}

.step-item.is-active {
    display: flex
}

.step-item.step-loading {
    justify-content: center
}

.step-question {
    margin-bottom: 2.6rem;
    padding: 0 10px;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center
}

.loader-text-block {
    margin-bottom: 2.8rem;
    text-align: center
}

.loader-text {
    display: none;
    font-size: 2.4rem;
    font-weight: 500;
    text-transform: uppercase
}

.loader-text.is-active {
    display: block
}

.loader-icon {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 3.5em;
    margin: 0 auto
}

.loader-icon div {
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: #fd654c;
    transform: translateY(-100%);
    animation: wave .8s ease-in-out alternate infinite
}

.loader-icon div:nth-of-type(1) {
    animation-delay: -0.4s
}

.loader-icon div:nth-of-type(2) {
    animation-delay: -0.2s
}

.step-title {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center
}

.step-text {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center
}

.btns-block {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding: 0 10px
}

.btn {
    display: inline-flex;
    height: 4.4rem;
    width: 40%;
    line-height: 1;
    font-size: 2.8rem;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word
}

.btn span {
    margin: auto;
    -ms-flex-item-align: center
}

.btn.yes-btn {
    background: #f1ca2f;
    color: #fff;
    border: 5px solid #fff;
    font-weight: bold
}

.btn.no-btn {
    background: #969696;
    border: 5px solid #bdbdbd;
    color: #bdbdbd;
    font-weight: bold
}

.submit-btn {
    display: inline-flex;
    height: 4.4rem;
    padding: 0 4rem;
    font-size: 2.8rem;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
    background: #f1ca2f;
    color: #fff;
    border: 5px solid #fff;
    font-weight: bold;
    border-radius: 9px
}

.submit-btn span {
    margin: auto;
    -ms-flex-item-align: center
}

@media screen and (min-width:1300px) and (min-height:600px) {
    .btns-block {
        flex-direction: row-reverse
    }
}

@keyframes wave {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(100%)
    }
}

#lp-confirm * {
    text-shadow: none !important;
    text-indent: 0 !important
}

#lp-confirm .lp-confirm-title,
.lp-confirm-text {
    text-align: left !important
}

#lp-confirm {
    box-sizing: border-box !important;
    border-radius: 3px !important;
    box-shadow: 0 0 3px 1px rgba(34, 28, 5, 0.3) !important;
    animation-duration: .5s !important;
    animation-fill-mode: both !important;
    animation-name: slideDown !important;
    position: fixed !important;
    top: 10px !important;
    left: 5% !important;
    width: 90% !important;
    margin: 0 !important;
    font-size: 100% !important;
    padding: 0 !important;
    height: auto !important;
    background-color: #fff !important;
    cursor: auto !important;
    z-index: 99999999999 !important
}

#lp-confirm.center {
    left: 50% !important;
    margin: 0 0 0 -220px !important
}

#lp-confirm.right {
    right: 30px !important;
    left: auto !important;
    margin: 0 !important
}

#lp-confirm .lp-confirm-wrap {
    position: relative !important;
    padding: 20px 15px 10px 15px !important;
    z-index: 13000 !important
}

#lp-confirm .lp-confirm-logo {
    border-radius: 3px !important;
    overflow: hidden !important;
    position: absolute !important;
    left: 10px !important;
    top: 20px !important;
    width: 80px !important;
    height: 80px !important;
    text-align: center !important
}

#lp-confirm .lp-confirm-img {
    max-width: 100% !important;
    overflow: hidden !important
}

#lp-confirm .lp-confirm-logo:before {
    background-color: #37e103 !important;
    content: "" !important;
    position: absolute !important;
    right: 5px !important;
    bottom: 5px !important;
    z-index: 2 !important;
    width: 12px !important;
    height: 12px !important;
    border: 2px solid #fff !important;
    border-radius: 50% !important
}

#lp-confirm .lp-confirm-img {
    border-radius: 50% !important
}

#lp-confirm .lp-confirm-content {
    padding: 0 0 0 80px !important;
    text-align: left !important
}

#lp-confirm .lp-confirm-title {
    color: #212121 !important;
    margin: 0 0 5px !important;
    padding: 0 !important;
    font: 700 14px/20px Open Sans !important;
    min-height: 20px !important;
    width: auto !important;
    height: auto !important
}

#lp-confirm .lp-confirm-text {
    padding: 0 !important;
    color: #212121 !important;
    margin: 0 0 7px !important;
    font: 400 12px/16px Open Sans !important;
    min-height: 20px !important;
    width: auto !important;
    height: auto !important
}

#lp-confirm .lp-confirm-btns {
    position: relative !important;
    font-size: 0 !important;
    text-align: right !important
}

#lp-confirm .lp-confirm-btn {
    position: relative !important;
    box-sizing: border-box !important;
    text-align: center !important;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0) !important;
    transition: background-color, color .2s ease-in !important;
    background-image: none !important;
    background-color: transparent !important;
    text-transform: none !important;
    padding: 0 10px !important;
    margin: 0 15px 10px 0 !important;
    font: 400 12px/24px Open Sans !important;
    height: 26px !important;
    max-width: 170px !important;
    cursor: pointer !important;
    text-decoration: none !important;
    -webkit-appearance: none !important;
    border-radius: 3px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    outline: 0 !important
}

#lp-confirm .lp-confirm-btn:focus {
    outline: 0 !important
}

#lp-confirm .lp-confirm-btn-allow:hover {
    text-decoration: none !important;
    background-image: linear-gradient(180deg, #fb4f32 0, #ff7b65 100%);
    background-image: -moz-linear-gradient(180deg, #fb4f32 0, #ff7b65 100%) !important;
    background-image: -webkit-linear-gradient(180deg, #fb4f32 0, #ff7b65 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FB4F32', endColorstr='#FF7B65', GradientType=1) !important;
    border-color: #f90 !important;
    color: #e9e9e9 !important;
    cursor: pointer !important
}

#lp-confirm .lp-confirm-btn-close:hover {
    text-decoration: none !important;
    background-color: #d2d2d2 !important;
    border-color: rgba(34, 28, 5, 0.4) !important;
    color: #212121 !important;
    cursor: pointer !important
}

#lp-confirm .lp-confirm-btn-close {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    color: #212121 !important
}

#lp-confirm .lp-confirm-btn-allow {
    min-width: 100px !important;
    font-weight: bold !important;
    transition: .3s all !important;
    background-image: linear-gradient(180deg, #ff7b65 0, #fb4f32 100%);
    background-image: -moz-linear-gradient(180deg, #ff7b65 0, #fb4f32 100%) !important;
    background-image: -webkit-linear-gradient(180deg, #ff7b65 0, #fb4f32 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7B65', endColorstr='#FB4F32', GradientType=1) !important;
    border: 1px solid #b34d3b !important;
    color: #fff !important;
    margin-right: 0 !important
}

@media only screen and (min-width:480px) {
    #lp-confirm {
        top: 15px !important;
        left: 30px !important;
        width: 420px !important
    }

    #lp-confirm .lp-confirm-wrap {
        padding: 20px 20px 10px 20px !important
    }

    #lp-confirm .lp-confirm-btns {
        padding-left: 110px !important;
        text-align: left !important
    }

    #lp-confirm .lp-confirm-btn {
        margin: 0 20px 0 0 !important;
        padding: 0 15px !important
    }

    #lp-confirm .lp-confirm-btns {
        padding-left: 115px !important
    }

    #lp-confirm .lp-confirm-btn-allow {
        margin-right: 0 !important
    }
}

.wrapper:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #38303b url(bg.jpg) repeat center top
}

.photo-block:before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background-image: url(girl-1.gif), url(girl-2.gif), url(girl-3.gif), url(girl-4.gif), url(girl-5.gif), url(girl-6.gif), url(users.png)
}

.photo-block[data-photo="1"] {
    background-image: url(girl-3.gif)
}

.photo-block[data-photo="2"] {
    background-image: url(girl-2.gif)
}

.photo-block[data-photo="3"] {
    background-image: url(girl-1.gif)
}

.photo-block[data-photo="4"] {
    background-image: url(girl-4.gif)
}

.photo-block[data-photo="5"] {
    background-image: url(girl-5.gif)
}

.photo-block[data-photo="6"] {
    background-image: url(girl-6.gif)
}

.slider-item:nth-child(1) .slider-icon:before {
    background-image: url(icon-3.svg)
}

.slider-item:nth-child(2) .slider-icon:before {
    background-image: url(icon-2.svg)
}

.slider-item:nth-child(3) .slider-icon:before {
    background-image: url(icon-1.svg)
}

.slider-item:nth-child(4) .slider-icon:before {
    background-image: url(icon-4.svg)
}

.slider-item:nth-child(5) .slider-icon:before {
    background-image: url(icon-5.svg);
    background-position: 68% center
}

.slider-item:nth-child(6) .slider-icon:before {
    background-image: url(icon-6.svg)
}

.users-block {
    height: 130vw;
    max-height: 670px;
    margin-bottom: 1rem;
    background: url(users.png) no-repeat center top;
    background-size: contain
}