/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: #1c1d38;
    font-family: Tahoma, Verdana;
    color: #d1bebe;
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
}


h1 {
    font-size: 30px;
	margin-bottom: 10px;
    line-height: 1.3;
    font-weight: 500;
    font-family: Tahoma, Verdana;
    color: #d1bebe;
}

h2 {
    color:  #d1bebe;
	font-size: 24px;
    line-height: 1.5;
    font-family: Tahoma, Verdana;
    margin-bottom: 20px;
    font-weight: 600;

}

p {
    font-size: 20px;
    line-height: 1.2;
    color: #d1bebe;
    
}

label {
    cursor: pointer;
    display: flex;
    gap: 15px;
}

.text-small {
    font-size: 20px;
    margin-bottom: 0;
}

.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

main {
    height: 100%;
    position: relative;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-0 {
    margin-bottom: 0px;
}

.clr-pink {
    color: #af7c7c!important;
}

.clr-white {
    color: #ffffff!important;
}

.clr-purple {
    color: #ae1ec8!important;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #8d2a2a;
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    height: 44px;

}

.content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 80px 140px;
}


article {
    flex: 1;
}

.step-1 {
    width: 50%;
    flex: 0 0 auto;
}

.step-1 .box {
    height: 40px;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #8d2a2a;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 15px;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

.step-1 h1 {
    margin-bottom: 60px;
}

.step-1 ul {
    margin-bottom: 60px;
}

.step-1 li {
    display: flex;
    align-items: center;
    color: #d1bebe;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.step-1 h2 span {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}

.step-1 .footer {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%,-50%);
    width: 330px;
}


.step {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 1100px;
}

.step h1 {
    font-size: 36px;
}

.step h2 {
    font-size: 20px;
    font-weight: 500;
}

.step-box {
    margin: 10px auto;
    background: rgba(227, 216, 216, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.2px);
    max-width: 768px;
}

.step-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 12px 18px;
    border-bottom: 1px solid #807e7e;
}

.step-header p {
    font-size: 23px;
    font-weight: 600;
    color: rgb(173, 100, 100);

}


.step-header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.step-header li {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    background: rgb(217, 217, 217);
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 50%;
}

.step-header li.active {
    background-color: #022b3a;
    border: 2px solid white;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.step-content {
    padding: 16px 18px;
}

.step-content p {
    font-size: 18px;
    font-weight: 400;
}

.step-content .btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

.step-content .btn-step {
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    padding: 8px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #b94287;
    background-color: white;
    flex: 1;
    font-weight: 700;
    text-decoration: none;
    min-width: 180px;
}

.step-content ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 10px 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

@media(max-width: 1400px) {
    .main-img {
        display: none;
    }

    .step-1 {
        width: 100%;
        text-align: center;
    }

    .step-1 ul {
        display: inline-flex;
        flex-direction: column;
        margin: 0 auto 20px;
    }
}

@media(max-width: 991px) {

    main {
        min-height: 100%;
        height: auto;
    }
    .content {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .step-1 h2 span {
        font-size: 20px;
        line-height: 20px;
    }

    .step-1 h1 {
        margin-bottom: 20px;

    }

    .step h1 {
        font-size: 22px;
        line-height: 1.2;
    }

    .step h1 br {
        display: none;
    }

    .step h2 {
        font-size: 18px;
        line-height: 1.2;
    }

    .step-header p {
        font-size: 18px;
    }
}

@media(max-width: 991px) {
    .step-content ul {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

