@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap);



@-webkit-keyframes j {

    0% {

        opacity: 0;

        -webkit-transform: translate3d(0, 10rem, 0);

        transform: translate3d(0, 10rem, 0)

    }



    to {

        opacity: 1;

        -webkit-transform: translateZ(0);

        transform: translateZ(0)

    }

}



@keyframes j {

    0% {

        opacity: 0;

        -webkit-transform: translate3d(0, 10rem, 0);

        transform: translate3d(0, 10rem, 0)

    }



    to {

        opacity: 1;

        -webkit-transform: translateZ(0);

        transform: translateZ(0)

    }

}



.fadeInUp {

    -webkit-animation: j .4s;

    animation: j .4s

}



@-webkit-keyframes k {

    0% {

        opacity: 0;

        -webkit-transform: translate3d(0, -10rem, 0);

        transform: translate3d(0, -10rem, 0)

    }



    to {

        opacity: 1;

        -webkit-transform: translateZ(0);

        transform: translateZ(0)

    }

}



@keyframes k {

    0% {

        opacity: 0;

        -webkit-transform: translate3d(0, -10rem, 0);

        transform: translate3d(0, -10rem, 0)

    }



    to {

        opacity: 1;

        -webkit-transform: translateZ(0);

        transform: translateZ(0)

    }

}



.fadeInDown {

    -webkit-animation: k .4s;

    animation: k .4s

}



body {

    overflow-x: hidden;

    font-family: Montserrat, Arial, Helvetica, sans-serif;

    font-size: 16px;

    line-height: 1.4;

    color: #333

}



h1,

h2,

h3,

h4,

h5,

h6 {

    text-transform: uppercase

}



h1 {

    font-size: 2rem

}



h2 {

    font-size: 1.5rem

}



h3 {

    font-size: 2.2rem

}



h4 {

    font-size: 1.5rem

}



h5,

h6 {

    font-size: 1.6rem

}



p {

    font-size: 1.8rem;

    text-align: justify;

    text-indent: 1.8rem

}



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box

}



html {

    font-size: 62.5%

}



body,

html {

    width: 100%;

    height: 100%

}



body {

    min-width: 320px;

    background: #fff;

    z-index: 0;

    background-size: cover;

    background-position: 50%;

    background-repeat: no-repeat

}



ul {

    list-style-type: none;

    margin: 0;

    padding: 0

}



.btn,

.transition {

    -webkit-transition: all .25s ease;

    transition: all .25s ease

}



img {

    display: block;

    max-width: 100%;

    height: auto

}



.main {

    position: relative;

    height: 100%;

    min-height: 480px;

    color: #222;

    display: -webkit-box;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    flex-direction: column;

    -webkit-box-pack: center;

    justify-content: center

}



.hispan,

.main {

    width: 100%;

    z-index: 1

}



.hispan {

    padding: 1rem 2rem;

    position: relative;

    display: block;

    position: fixed;

    top: 50%;

    left: 0;

    -webkit-transform: translateY(-50%);

    transform: translateY(-50%);

    background: rgba(0, 0, 0, 0.5);

    color: #fff;

    text-align: center;

    font-size: 1.6rem

}



.blured {

    position: fixed;

    height: 100%;

    width: 100%;

    z-index: -1;

    background: url(1.jpg);

    filter: blur(15px);

    background-size: cover;

    background-position-y: 29%

}



.btnbox {

    width: 100%;

    display: -webkit-box;

    display: flex;

    -webkit-box-pack: center;

    justify-content: center;

    -webkit-box-align: center;

    align-items: center

}



.effect {

    text-align: center;

    display: inline-block;

    position: relative;

    text-decoration: none;

    text-transform: capitalize;

    padding: 20px 0;

    width: 150px;

    overflow: hidden

}



.effect.effect-5 {

    transition: all .2s linear 0s

}



.effect.effect-5:before {

    content: ">";

    font-family: FontAwesome;

    font-weight: 900;

    display: flex;

    align-items: center;

    justify-content: center;

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

    width: 30px;

    background-color: rgba(255, 255, 255, 0.3);

    border-radius: 0 50% 50% 0;

    transform: scale(0, 1);

    transform-origin: left center;

    transition: all .2s linear 0s

}



.effect.effect-5:hover {

    text-indent: 30px

}



.effect.effect-5:active {

    text-indent: 30px

}



.effect.effect-5:hover:before {

    transform: scale(1, 1);

    text-indent: 0

}



.effect.effect-5:active:before {

    transform: scale(1, 1);

    text-indent: 0

}



.btn {

    font-family: "Montserrat", sans-serif;

    margin: 0 20px;

    width: 100%;

    height: 6rem;

    line-height: 6rem;

    max-width: 30rem;

    padding: 0 2rem;

    position: relative;

    display: inline-block;

    color: #000;

    font-size: 1.6rem;

    text-decoration: none;

    text-transform: uppercase;

    text-align: center;

    letter-spacing: .1rem;

    border-radius: 6px;

    cursor: pointer;

    border: 1px solid #ff0

}



.btn--primary {

    color: #fff;

    background-color: #ff003b;

    border: 1px solid;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 2px 2px hsla(0, 0%, 100%, 0.2)

}



.btn--primary:hover {

    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), inset 0 2px 2px hsla(0, 0%, 100%, 0.2)

}



.btn--primary:active {

    box-shadow: none

}



.btn--accent {

    border-color: #dedede;

    color: #fff;

    background-color: #2929298f;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)

}



.btn--accent:hover {

    background: #292929d1;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)

}



.btn--accent:active {

    background-color: #292929d1;

    box-shadow: none

}



.btn--round {

    width: 8rem;

    height: 8rem;

    background: #fff;

    border-radius: 6rem;

    padding: 0;

    text-align: center;

    color: #fff;

    line-height: 7.6rem;

    font-size: 3.8rem

}



.btn--round.btn--primary {

    border-color: #18c75c;

    background-image: -webkit-gradient(linear, left bottom, left top, from(#18c75c), to(#1ee8cc));

    background-image: linear-gradient(0, #18c75c, #1ee8cc);

    line-height: 8.5rem;

    padding-left: .9rem

}



.btn--round.btn--accent {

    border-color: #fda366;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#fda366), to(#f1645e));

    background-image: linear-gradient(180deg, #fda366, #f1645e)

}



.stepbox {

    z-index: 2;

    max-width: 800px;

    left: 50%;

    -webkit-transform: translateX(-50%);

    transform: translateX(-50%)

}



.step,

.stepbox {

    width: 100%;

    height: 100%;

    position: relative

}



.step {

    display: none;

    color: #fff

}



.step.current {

    display: block

}



.step__inner {

    width: 100%;

    height: 100%;

    display: -webkit-box;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

    flex-direction: column;

    -webkit-box-pack: end;

    justify-content: flex-end;

    padding: 1rem;

    max-width: 450px;

    margin: 0 auto

}



.step__header {

    margin-bottom: 1rem;

    text-align: center

}



.step__body {

    position: relative;

    margin-bottom: 2rem

}



.step__body ul {

    list-style-type: none;

    margin-left: 2rem

}



.wrapper-input {

    min-height: 55px

}



.form-field {

    font-family: "Montserrat", Arial, Helvetica, sans-serif;

    display: block;

    width: 100%;

    max-width: 320px;

    padding: 10px 15px;

    border: 0;

    border-radius: 5px;

    box-sizing: border-box;

    margin: 0 auto

}



.form-field.error {

    box-shadow: inset 0 0 3px 1px #ff7575

}



label.error {

    display: block;

    font-size: 13px;

    font-weight: 500;

    text-align: center

}



.group-msg {

    position: absolute;

    bottom: 8px;

    color: #f55

}



.step-6 .step__header {

    text-align: left

}



.qustionare {

    position: relative;

    display: -webkit-box;

    display: flex;

    flex-wrap: wrap;

    -webkit-box-pack: justify;

    justify-content: space-between;

    background: rgba(0, 0, 0, 0.5);

    padding: 25px;

    margin-bottom: 25px

}



.qustionare li {

    position: relative;

    width: calc(100% / 2 - 35px)

}



.wrapper-radio,

.wrapper-checkbox {

    margin-bottom: 10px

}



.wrapper-radio .label,

.wrapper-checkbox .label {

    position: relative;

    display: block;

    padding-left: 25px

}



.wrapper-radio input[type="radio"],

.wrapper-checkbox input[type="checkbox"] {

    position: absolute;

    opacity: 0;

    height: 0;

    width: 0

}



.wrapper-radio input[type="radio"]+.label:before {

    content: "";

    display: block;

    width: 19px;

    height: 19px;

    border-radius: 50%;

    border: 2px solid #fff;

    position: absolute;

    left: 0;

    z-index: 1;

    box-sizing: border-box

}



.wrapper-radio input[type="radio"]:checked+.label:after {

    content: "";

    display: block;

    width: 11px;

    height: 11px;

    background-color: #57ff27;

    border-radius: 50%;

    position: absolute;

    left: 4px;

    top: 4px

}



.wrapper-checkbox input[type="checkbox"]+.label:before {

    content: "";

    display: block;

    width: 19px;

    height: 19px;

    border: 2px solid #fff;

    position: absolute;

    left: 0;

    z-index: 1;

    box-sizing: border-box

}



.wrapper-checkbox input[type="checkbox"]:checked+.label:after {

    content: "";

    display: block;

    width: 11px;

    height: 11px;

    background-color: #57ff27;

    position: absolute;

    left: 4px;

    top: 4px

}



.step__footer {

    margin-bottom: 1.5rem

}



.bg {

    position: fixed !important

}



.bg,

.bg:after {

    width: 100%;

    height: 100%;

    left: 0;

    top: 0;

    right: 0;

    bottom: 0;

    z-index: 0

}



.bg:after {

    content: "";

    display: block;

    position: fixed;

    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 50%, transparent 0);

    background-size: 2px 2px

}



.bg__item {

    display: none;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: 50%;

    position: absolute;

    width: 100%;

    height: 100%;

    left: 0;

    top: 0;

    right: 0;

    bottom: 0

}



.bg__item-1 {

    background-image: url(1.jpg);

    background-position-y: 18%

}



.bg__item-7 {

    background-image: url(2.jpg);

    background-position-y: 5%

}



.bg__item.active {

    display: block

}



@media(min-width:360px) {

    html {

        font-size: 75%

    }



    .step__body ul li {

        font-size: 1.3rem

    }

}



@media(max-width:640px) {

    .qustionare li {

        width: 100%

    }

}



@media(max-width:820px) {

    .step-6 {

        height: auto

    }

}



@media(min-width:768px) {

    html {

        font-size: 87.5%

    }

}



@media(min-width:1024px) {

    html {

        font-size: 100%

    }

}



@media(min-width:1024px) and (orientation:landscape) {

    .bg__item {

        background-size: contain

    }

}



.step__body ul {

    margin-left: 5rem

}